package-manager=pnpm@10.11.1
enable-pre-post-scripts=true
ignore-scripts=false
unsafe-perm=true
public-hoist-pattern[]=*@swc/core*
public-hoist-pattern[]=*esbuild*
public-hoist-pattern[]=*@parcel/watcher*
public-hoist-pattern[]=*sharp*
public-hoist-pattern[]=*protobufjs*
public-hoist-pattern[]=*@nestjs/core*
public-hoist-pattern[]=*nx*
public-hoist-pattern[]=*electron*
public-hoist-pattern[]=*yo*
public-hoist-pattern[]=*spawn-sync*
public-hoist-pattern[]=*core-js*
